version: '3.8'

services:
  bot:
    build: .
    container_name: infinity-balance-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./bot.py:/app/bot.py
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
